<div class="page-header header-filter" data-parallax="true">}
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Generator</h1>
                    <h3 class="title text-center">Generate a random image.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <app-generate class="container"></app-generate>
    </div>
</div>