<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-3" *ngFor="let src of imagesUrl">
        <app-image title="Generated" [src]="src"></app-image>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <a (click)="projectImage()" class="btn btn-info col-sm" role="button">
        <i class="material-icons">fiber_new</i> Project
      </a>
      <a [ngClass]="{'disabled': !imageUrl}" [href]="imageUrl" class="btn btn-info col-sm" role="button" download="">
        <span class="material-icons">cloud_download</span> Download
      </a>
      <a (click)="generateRandom()" class="btn btn-info col-sm" role="button">
        <span class="material-icons">merge_type</span> Mix Image
      </a>
      <a (click)="generateRandom()" class="btn btn-info col-sm" role="button">
        <span class="material-icons">edit</span> Edit Image
      </a>
      <div class="form-group">
        <label for="file" class="btn btn-info col-sm" role="button">Choose Files</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
      </div>
      <app-image title="Generated" [src]="originalUrl"></app-image>
    </div>
  </div>
</div>
