<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h1>Project a Image</h1>
        <h3 class="title">Generate a thumbnail using an existing image.</h3>
        <p>Update a image to generate a projection using the neural network.</p>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-sm-3" *ngFor="let src of imagesUrl">
                <img class="rounded img-fluid" [src]="getbs64(src)">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <a (click)="projectImage()" class="btn btn-primary col-sm mx-1 my-1" >
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                <i *ngIf="!loading" class="fas fa-object-ungroup"></i> {{!loading  ? "Project" : "Projecting Image"}} 
              </a>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="handleFileInput($event.target.files)">
                  <label class="custom-file-label mx-1 my-1" for="inputGroupFile01 ">Choose file</label>
                </div>
              </div>
            </div>
            <img class="rounded img-fluid" [src]="getImg()">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

