<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="form-group mb-3 col-md-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Seed First Imnage</span>
        </div>
        <input type="text" class="form-control" placeholder="seed1" aria-label="Seed 1" [(ngModel)]="seed1"
          aria-describedby="basic-addon1">
      </div>
      <div class="form-group mb-3 col-md-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Seed Second Image</span>
        </div>
        <input type="text" class="form-control" placeholder="seed2" aria-label="Seed 2" [(ngModel)]="seed2"
          aria-describedby="basic-addon1">
      </div>
      <div class="form-group mb-3 col-md-4 bmd-form-group is-filled">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Style mixing type</span>
        </div>

        <div class="form-check form-check-radio">
          <label class="form-check-label">
            <input class="form-check-input" [(ngModel)]="mixType" type="radio" name="exampleRadios" id="exampleRadios1" value="0">
            Structure first image, Style second image
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
        <div class="form-check form-check-radio">
          <label class="form-check-label">
            <input class="form-check-input"[(ngModel)]="mixType" type="radio" name="exampleRadios" id="exampleRadios2" value="1"
              checked>
            Mix betwen the two images
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>

        <div class="form-check form-check-radio">
          <label class="form-check-label">
            <input class="form-check-input" [(ngModel)]="mixType" type="radio" name="exampleRadios1" id="exampleRadios3" value="2">
            Structure second image, Style first image
            <span class="circle">
              <span class="check"></span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <a (click)="mix()" class="btn btn-info col-sm" role="button">
        <i class="material-icons">fiber_new</i> Generate
      </a>
      <a (click)="randomSeed()" class="btn btn-info col-sm">
        <span class="material-icons">local_florist</span> Random Seed
      </a>
    </div>

  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4">
        <app-image title="Style" [src]="getImgUrl('src')"></app-image>
      </div>
      <div class="col-sm-4">
        <app-image title="Structure" [src]="getImgUrl('dst')"></app-image>
      </div>
      <div class="col-sm-4">
        <app-image title="Mix" [src]="getImgUrl('mix')"></app-image>
      </div>
    </div>
  </div>

</div>