<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/video/stylegan.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Thumbnail Generator</h1>
        <p class="lead mb-0">Generate Thumbail Images, using Neural network</p>
      </div>
    </div>
  </div>
</header>

<app-menu></app-menu>
