<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h1>Generate Image</h1>
        <h3 class="title">Generate a random image using a neural network.</h3>
        <p>For the moment the only available option to generate images is by a random seed, select a seed and click on the generate button. This 
          proces could take a few seconds the first time.
        </p>
        <p>Click on the image to check the full resolution and download link</p>
      </div>
    </div>
  </div>
</section>
<section class="my-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="row">
          <div class="col-md">
            <app-image title="Generated" [imageData]="imageData"></app-image>
          </div>
          <div class="col-md">
            <h3>Options</h3>
            <div class="row">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Seed Image</span>
                </div>
                <input type="text" class="form-control" placeholder="seed1" aria-label="Seed 1" [(ngModel)]="seed1"
                  aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="row">
              <a (click)="randomSeed()" class="btn btn-primary col-sm mx-1 my-1">
                <i class="fas fa-seedling"></i> Random Seed
              </a>
              <a (click)="generate()" class="btn btn-primary col-sm mx-1 my-1" >
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                <i *ngIf="!loading" class="fas fa-paint-brush"></i> {{!loading ? "Generate": "Generating"}}
              </a>
              <a [ngClass]="{'disabled': !imageData?.link}" [href]="imageData?.link" class="btn btn-primary col-sm mx-1 my-1"
                role="button" download target="_blank"> 
                <i class="fas fa-cloud-download-alt"></i> Download
              </a>

              <!--
              <a (click)="generateRandom()" class="btn btn-info col-sm" role="button">
                <span class="material-icons">merge_type</span> Mix Image
              </a>
              <a (click)="generateRandom()" class="btn btn-info col-sm" role="button">
                <span class="material-icons">edit</span> Edit Image
              </a>
            </div>
            <app-sliders (vector)="processVector($event)"></app-sliders>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

