<nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100" [ngClass]="{'navbar-color-on-scroll navbar-transparent': isHome()}">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Thumbnail Generator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/generator">Generate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projector">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mixer">Mix</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            How It Works
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="javascript:;">Resume</a>
            <a class="dropdown-item" href="javascript:;">Repository</a>
            <a class="dropdown-item" href="javascript:;">Resources</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://github.com/seradiazpin">
            Sergio Alejadro Diaz Pinilla
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;{{year}}
    </div>
  </div>
</footer>