<div class="page-header header-filter" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>This is the content of the tesis document, on english</h1>
          <h3 class="title text-center ">This application is a product for the magister</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section ">
    <div class="container">
      <h1>Abstract</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Introduction</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Objectives</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>State of the Art</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Metodogy</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Results</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Conclutions</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>References</h1>
    </div>
  </div>
</div>