<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-3" *ngFor="let src of imagesUrl">
        <img class="rounded img-fluid" id="generated" [src]="src">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <a (click)="projectImage()" class="btn btn-info col-sm" role="button">
        <i class="material-icons">fiber_new</i> Generate
      </a>
      
      <div class="form-group">
        <label for="file">Choose Files</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)">
      </div>
      <img class="rounded img-fluid" id="generated" [src]="originalUrl">
    </div>
  </div>
</div>
