<div class="page-header header-filter" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>How it works</h1>
          <h3 class="title text-center ">This a simple explination of how it works</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section ">
    <div class="container">
      <h1>Data</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Training</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Network</h1>
    </div>
  </div>
  <div class="section ">
    <div class="container">
      <h1>Images</h1>
    </div>
  </div>
</div>